<link href="https://fonts.googleapis.com/css?family=Montserrat:100" rel="stylesheet">


<body>

    <div class="lookupButtonWrapper">
        <a [routerLink]="['/toAdmin']" class="lookupButton">
           Lookup
        </a>
    </div>

    <div class="logoutButtonWrapper">
        <a [routerLink]="['/toLogin']" class="logoutButton">
            Logout
        </a>
    </div>

    <div style="text-align:center">

        <h1>
            New Entry
        </h1>
        <hr class="specialHr">

    </div>

    <div style="height: 50px;"></div>

    <div class="overallWrapper">

        <div style="position: relative;">
            <div>
                <h4>Morning Log</h4>
            </div>
            <div class="outerWrapper">
                <!--
                    <div class="inputTextWrapper">
                        <h3>Did Yesterday</h3>
                        <textarea name="didYesterday" rows="4" cols="50" [(ngModel)]='didYesterday' required></textarea>
                    </div>
                -->

                <div class="inputTextWrapper">
                    <h3>Plan For Today</h3>
                    <textarea name="doToday" rows="4" cols="50" [(ngModel)]='doingToday' required></textarea>
                </div>

                <div class="inputTextWrapper">
                    <h3>Notes</h3>
                    <textarea name="notes" rows="4" [(ngModel)]='morningNotes' cols="50"></textarea>
                </div>

                <div style="padding-top: 20px;">
                    <button class="submitButton" (click)="morningSubmit()"> SUBMIT </button>
                </div>
            </div>
        </div>

        <div>
            <h4>Evening Log</h4>
            <div class="outerWrapper">

                <div class="inputTextWrapper">
                    <h3>Accomplished Today</h3>
                    <textarea 
                        name="didYesterday" 
                        rows="4" 
                        cols="50" 
                        required
                        [(ngModel)]="didToday"></textarea>
                </div>

                <div class="inputTextWrapper">
                    <h3>Notes</h3>
                    <textarea 
                    name="notes"
                    rows="4"
                    cols="50" 
                    [(ngModel)]="eveningNotes"></textarea>
                </div>

                <div style="padding-top: 20px;">
                    <button class="submitButton" (click)="eveningSubmit()"> SUBMIT </button>
                </div>
            </div>
        </div>
    </div>

    <footer-component></footer-component>

</body>