.outerWrapper {
    background-color: #f7f7f7; 
    width: 500px;
    margin: auto;
    height: 380px;
    border: 0.5px black solid;
    box-shadow: 0 8px 6px -6px black;
    border-radius: 2px;
    -webkit-transition-duration: 0.7s; /* Safari */
    transition-duration: 0.7s;
    float: left;
    color: black;
}


.outerWrapper:hover {
    box-shadow: 0 18px 16px -6px black;

}



textarea{
    resize: none;
    background-color: #efefef;
    color: black;
    -moz-box-shadow:    inset 0 0 10px #bababa;
    -webkit-box-shadow: inset 0 0 10px #bababa;
    box-shadow:         inset 0 0 10px #bababa;   
     border: none;
     outline-color: #ea3c3c;


}

 /*ea3c3c*/
.submitButton {
    background-color: #ea3c3c;
    border: none;
    font-size: 20px;
    color: white;
    padding: 20px;
    width: 200px;
    text-align: center;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
    border-radius: 7px;
    border-radius: 30px 30px 30px 30px;
    -moz-box-shadow:    inset 5 10 10px #545454;
    -webkit-box-shadow: inset 5 10 10px #545454;
    box-shadow:         inset 5 10 10px #545454; 
    font-family: 'Montserrat', sans-serif;


}

.submitButton:hover {
    box-shadow: 5px 10px 18px #888888;
}

body {
    font-family: 'Montserrat', sans-serif;
    color: white;
    height: 100%;
    min-height: 100vh;

}

.overallWrapper {
    width: 1100px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}



.lookupButtonWrapper {
    position: absolute;
    top: 30px;
    left: 120px;
    
}


.lookupButton {
    background-color: #ea3c3c;
    border: none;
    font-size: 12px;
    color: white;
    padding: 10px;
    width: 150px;
    text-align: center;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
    border-radius: 7px;
    border-radius: 30px 30px 30px 30px;

}

.lookupButton:hover {
    box-shadow: 5px 10px 18px black;
}


.logoutButton {
    background-color: #999999;
    border: none;
    font-size: 12px;
    color: white;
    padding: 10px;
    text-align: center;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
    border-radius: 7px;
    border-radius: 30px 30px 30px 30px;

}

.logoutButton:hover {
    box-shadow: 5px 10px 18px black;
}

.logoutButtonWrapper {
    position: absolute;
    top: 30px;
    left: 40px;
}

.specialHr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 5px solid #ea3c3c;
    margin: 1em 0;
    padding: 0; 
    clear:both;
}

.coolLabel {
    background-color: red;
    position: fixed;
    float: left;
    width: 120px;
    top: 40px;
}
