<link href="https://fonts.googleapis.com/css?family=Montserrat:100" rel="stylesheet">


<body>

    <div style="text-align:center">

        <h1>
            Admin
        </h1>
        <!--<img width="300" alt="image" src="../photos/m.jpg">-->
    </div>


    <div class="outerWrapper">

        <div class="inputTextWrapper">
            <h3>Search Employee</h3>

            <autocomplete-filter></autocomplete-filter>

        </div>

        <div class="inputTextWrapper">
            <h3>Doing Today</h3>
            <textarea name="doToday" rows="4" cols="50" required></textarea>
        </div>

        <div class="inputTextWrapper">
            <h3>Notes</h3>
            <textarea name="notes" rows="4" cols="50"></textarea>
        </div>

        <div style="padding-top: 20px;">
            <button class="submitButton"> Submit </button>
        </div>
    </div>

    <footer-component></footer-component>

</body>