<link href="https://fonts.googleapis.com/css?family=Montserrat:100" rel="stylesheet">


<body>

    <div style="text-align:center">

        <h1>
            Admin
        </h1>
        <!--<img width="300" alt="image" src="../photos/m.jpg">-->
    </div>


    <div class="outerWrapper" style="height: 300px;">

        <div class="inputTextWrapper">

            <autocomplete-filter></autocomplete-filter>

        </div>

        <div class="inputTextWrapper">

            <autocomplete-dates-filter></autocomplete-dates-filter>

        </div>


        <div style="padding-top: 20px;">
            <button class="submitButton"> Search </button>
        </div>
    </div>

    <div style="height: 100px;"></div>

    <div class="outerWrapper" style="height: 150px;">

        <div style="padding-top: 30px;">
            <button class="submitButton"> Export All to Excel </button>
        </div>
    </div>


    <footer-component></footer-component>

</body>