.outerWrapper {
    background-color: #f7f7f7;
    margin: auto;
    height: 500px;
    border: 0.5px black solid;
    box-shadow: 0 10px 8px -8px black; /*#565656*/
    border-radius: 2px;
    -webkit-transition-duration: 0.7s; /* Safari */
    transition-duration: 0.7s;
    width: 500px;
    float: left;

}


.outerWrapper:hover {
    box-shadow: 0 18px 16px -6px black;

}



textarea{
    resize: none;
    color: black;
    outline-color: #ea3c3c;

}


.submitButton {
    position: relative;
    background-color: #ea3c3c;
    border: none;
    font-size: 20px;
    color: white;
    padding: 20px;
    width: 200px;
    text-align: center;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
    border-radius: 7px;
    border-radius: 30px 30px 30px 30px;

}

.submitButton:hover {
    box-shadow: 5px 10px 18px #888888;
}

body {
    font-family: 'Montserrat', sans-serif;
    color: white;
}



.dropdown.dropdown-scroll .dropdown-menu {
    max-height: 200px;
    width: 60px;
    overflow: auto;
}
.search-control {
    padding: 5px 10px;
}


.inputTextWrapper {
    width: 75%;
    margin: 0 auto;
    padding-top: 20px;
}

.overallWrapper {
    width: 1100px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}

.queryResults{
    padding-bottom: 50px;
    padding-top: 10px;
    background-color: #f2f2f2;
    width: 700px;
    display: block;
    margin: 0 auto;
    border: 0.25px #545454 solid;
    color: black;

}

.newEntryButtonWrapper {
    position: absolute;
    top: 30px;
    left: 120px;
    
}


.newEntryButton {
    background-color: #ea3c3c;
    border: none;
    font-size: 12px;
    color: white;
    padding: 10px;
    width: 150px;
    text-align: center;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
    border-radius: 7px;
    border-radius: 30px 30px 30px 30px;

}

.newEntryButton:hover {
    box-shadow: 5px 10px 18px black;
}


.logoutButton {
    background-color: #999999;
    border: none;
    font-size: 12px;
    color: white;
    padding: 10px;
    text-align: center;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
    border-radius: 7px;
    border-radius: 30px 30px 30px 30px;

}

.logoutButton:hover {
    box-shadow: 5px 10px 18px black;
}

.logoutButtonWrapper {
    position: absolute;
    top: 30px;
    left: 40px;
}

.specialHr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 5px solid #ea3c3c;
    margin: 1em 0;
    padding: 0; 
    clear:both;
}

/*

.wrapper {
    margin: 50px auto;
    width: 280px;
    height: 370px;
    background: white;
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 8px rgba(0,0,0,0.3);
    -moz-box-shadow:    0px 0px 8px rgba(0,0,0,0.3);
    box-shadow:         0px 0px 8px rgba(0,0,0,0.3);
    position: relative;
    z-index: 90;
  }
  
  .ribbon-wrapper-green {
    width: 85px;
    height: 88px;
    overflow: hidden;
    position: absolute;
    top: -3px;
    right: -3px;
  }
  
  .ribbon-green {
    font: bold 15px Sans-Serif;
    color: #333;
    text-align: center;
    text-shadow: rgba(255,255,255,0.5) 0px 1px 0px;
    -webkit-transform: rotate(45deg);
    -moz-transform:    rotate(45deg);
    -ms-transform:     rotate(45deg);
    -o-transform:      rotate(45deg);
    position: relative;
    padding: 7px 0;
    left: -5px;
    top: 15px;
    width: 120px;
    background-color: #BFDC7A;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#BFDC7A), to(#8EBF45)); 
    background-image: -webkit-linear-gradient(top, #BFDC7A, #8EBF45); 
    background-image:    -moz-linear-gradient(top, #BFDC7A, #8EBF45); 
    background-image:     -ms-linear-gradient(top, #BFDC7A, #8EBF45); 
    background-image:      -o-linear-gradient(top, #BFDC7A, #8EBF45); 
    color: #6a6340;
    -webkit-box-shadow: 0px 0px 3px rgba(0,0,0,0.3);
    -moz-box-shadow:    0px 0px 3px rgba(0,0,0,0.3);
    box-shadow:         0px 0px 3px rgba(0,0,0,0.3);
  }
  
  .ribbon-green:before, .ribbon-green:after {
    content: "";
    border-top:   3px solid #6e8900;   
    border-left:  3px solid transparent;
    border-right: 3px solid transparent;
    position:absolute;
    bottom: -3px;
  }
  
  .ribbon-green:before {
    left: 0;
  }
  .ribbon-green:after {
    right: 0;
  }
  */

  div.wrapper {
    position: relative;
    border: 0px solid cornflowerblue;
  }


  div.wrapper label {
    color: black;
    line-height: 30px;
    padding: 0px 15px;
    position: absolute;
    background-color: white;
    /* Adjust these values to posiytion the title or label */
    top: -15px;
    left: 160px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 2px;

  }