.outerWrapper {
    background-color: #f7f7f7;
    width: 500px;
    margin: auto;
    height: 500px;
    border: 0.5px black solid;
    box-shadow: 0 8px 6px -6px #565656;
    border-radius: 2px;
    -webkit-transition-duration: 0.7s; /* Safari */
    transition-duration: 0.7s;
    float: left;
}


.outerWrapper:hover {
    box-shadow: 0 18px 16px -6px #565656;

}



textarea{
    resize: none;
}


.submitButton {
    position: relative;
    background-color: #4CAF50;
    border: none;
    font-size: 20px;
    color: white;
    padding: 20px;
    width: 200px;
    text-align: center;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
    border-radius: 7px;
}

.submitButton:hover {
    box-shadow: 5px 10px 18px #888888;
}

body {
    font-family: 'Montserrat', sans-serif;
}

.overallWrapper {
    width: 1100px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}



.lookupButtonWrapper {
    position: absolute;
    top: 30px;
    left: 110px;
    
}


.lookupButton {
    background-color: #6471a8;
    border: none;
    font-size: 12px;
    color: white;
    padding: 10px;
    width: 150px;
    text-align: center;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
    border-radius: 7px;
}

.lookupButton:hover {
    box-shadow: 5px 10px 18px #888888;
}


.logoutButton {
    background-color: lightgray;
    border: none;
    font-size: 12px;
    color: white;
    padding: 10px;
    text-align: center;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
    border-radius: 7px;
}

.logoutButton:hover {
    box-shadow: 5px 10px 18px #888888;
}

.logoutButtonWrapper {
    position: absolute;
    top: 30px;
    left: 40px;
}
