<link href="https://fonts.googleapis.com/css?family=Montserrat:100" rel="stylesheet">


<body>

    <div class="lookupButtonWrapper">
        <a [routerLink]="['/toAdmin']" class="lookupButton">
           Lookup
        </a>
    </div>

    <div class="logoutButtonWrapper">
        <a [routerLink]="['/toLogin']" class="logoutButton">
            Logout
        </a>
    </div>

    <div style="text-align:center">

        <h1>
            New Entry
        </h1>
        <hr class="specialHr">

        <!--<img width="300" alt="image" src="../photos/m.jpg">-->
    </div>

    <div style="height: 10px;"></div>

    <h4>Select Date</h4>

    <div class="outerWrapper" style="height: 100px; width: 300px; padding-top: 30px;">
        <datepicker (dateSelected)="receiveDate($event)" ></datepicker>
    </div>

    <div style="height: 40px;"></div>

    <div class="overallWrapper">

        <div style="position: relative;">
            <div>
                <h4>Morning Log</h4>
            </div>
            <div class="outerWrapper">
                <div class="inputTextWrapper">
                    <h3>Did Yesterday</h3>
                    <textarea name="didYesterday" rows="4" cols="50" [(ngModel)]='didYesterday' required></textarea>
                </div>

                <div class="inputTextWrapper">
                    <h3>Doing Today</h3>
                    <textarea name="doToday" rows="4" cols="50" [(ngModel)]='doingToday' required></textarea>
                </div>

                <div class="inputTextWrapper">
                    <h3>Notes</h3>
                    <textarea name="notes" rows="4" [(ngModel)]='notes' cols="50"></textarea>
                </div>

                <div style="padding-top: 20px;">
                    <button class="submitButton" (click)="morningSubmit()"> SUBMIT </button>
                </div>
            </div>
        </div>

        <div>
            <h4>Evening Log</h4>
            <div class="outerWrapper" style="height: 380px;">

                <div class="inputTextWrapper">
                    <h3>Did Today</h3>
                    <textarea name="didYesterday" rows="4" cols="50" required></textarea>
                </div>

                <div class="inputTextWrapper">
                    <h3>Notes</h3>
                    <textarea name="notes" rows="4" cols="50"></textarea>
                </div>

                <div style="padding-top: 20px;">
                    <button class="submitButton" (click)="eveningSubmit"> SUBMIT </button>
                </div>
            </div>
        </div>
    </div>

    <footer-component></footer-component>

</body>