<div style="text-align:center">
    
    <h1>
        Workers Log
    </h1>
    <!--<img width="300" alt="image" src="../photos/m.jpg">-->
</div>


<div class="login">

    <div class="inputTextWrapper">
        <h3>Did Yesterday</h3>
        <textarea 
        name="didYesterday"
        rows="4" 
        cols="50"></textarea>
    </div>

    <div class="inputTextWrapper">
        <h3>Doing Today</h3>
        <textarea 
        name="doToday"
        rows="4" 
        cols="50"></textarea>
    </div>

    <div class="inputTextWrapper">
        <h3>Notes</h3>
        <textarea 
        name="notes"
        rows="4" 
        cols="50"></textarea>
    </div>

    <div style="padding-top: 20px;">
        <button class="loginButton"> Submit </button>
    </div>
</div>
