/* You can add global styles to this file, and also import other style files */
@import "../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css";
body {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-content: stretch;
    align-items: stretch;
    height: 100%;
    

    background-image: radial-gradient(center bottom, ellipse cover, #474747, #262626);
	background-image: -o-radial-gradient(center bottom, ellipse cover, #474747, #262626);
	background-image: -ms-radial-gradient(center bottom, ellipse cover, #474747, #262626);
	background-image: -moz-radial-gradient(center bottom, ellipse cover, #474747, #262626);
    background-image: -webkit-radial-gradient(center bottom, ellipse cover, #474747, #262626);

    text-transform: uppercase;
    letter-spacing: 0.05em;

    font-family: 'Montserrat', sans-serif;

  }
