.login {
    background-color: #f7f7f7;
    width: 500px;
    margin: auto;
    height: 350px;
    border: 0.5px black solid;
    box-shadow: 0 8px 6px -6px #565656;
    border-radius: 2px;
    -webkit-transition-duration: 0.7s; /* Safari */
    transition-duration: 0.7s;
}

.login:hover {
    box-shadow: 0 18px 16px -6px #565656;

}

.inputTextWrapper {
    padding: 10px;
}

.inputTextWrapper h3 {
    text-align: center;
}

.inputText {
    width: 70%;   
    border: 0px solid #000000;
    border-bottom-width: 1px;
    background-color: transparent;
}

.loginButton {
    position: relative;
    background-color: #4CAF50;
    border: none;
    font-size: 20px;
    color: white;
    padding: 20px;
    width: 200px;
    text-align: center;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
    border-radius: 7px;
}

.loginButton:hover {
    box-shadow: 5px 10px 18px #888888;
}


body {
    font-family: 'Montserrat', sans-serif;
}

.divider{
    width:5px;
    height:auto;
    display:inline-block;
}

.MCImage {
    padding-top: 50px;
    width: 20%;
}

.failedMessage {
    color: red
}