<!--The content below is only a placeholder and can be replaced.-->
<link href="https://fonts.googleapis.com/css?family=Montserrat:100" rel="stylesheet">
<body>
    <div style="text-align:center">
    
        <h1>
            Work From Home Tracker
            <hr>
        </h1>
        <h3>
            Login
        </h3>
        <!--<img width="300" alt="image" src="../photos/m.jpg">-->
    </div>
    
    <h1  *ngFor="let user of users"></h1> 
    
    <div class="login">
    
        <div class="inputTextWrapper">
            <h3>Username</h3>
            <input 
            class="inputText" 
            type="text" 
            name="name"
            [(ngModel)]='username' />
        </div>
    
        <div class="inputTextWrapper">
            <h3>Password</h3>
            <input 
            class="inputText" 
            type="password" 
            name="name"
            [(ngModel)]='password' />
        </div>
    
        <div style="padding-top: 50px;">
    
            
            <a [routerLink]="['/toNonAdmin']">
                <button 
                class="loginButton" 
                style="background-color:#5e6596" 
                (click)="employeeLogin()"> New Entry </button>
            </a>
            
            <div class="divider"></div>

            <a [routerLink]="['/toAdmin']">
                <button (click)="adminLogin()" class="loginButton"> Lookup </button>
            </a>
        </div>
    
    
    </div>

    <footer-component></footer-component>
</body>