<!--The content below is only a placeholder and can be replaced.-->
<link href="https://fonts.googleapis.com/css?family=Montserrat:100" rel="stylesheet">

<body>
    <div style="text-align:center">

        <h1>
            Work From Home Tracker
            <hr class="specialHr">
        </h1>

        <h4 class="failedMessage" *ngIf="loginFailed">Login Failed: Username or Password is incorrect.</h4>
        <!--<img width="300" alt="image" src="../photos/m.jpg">-->
    </div>

    <div>
        <h3>
            Login
        </h3>
        <div class="login">
    
    
            <div class="inputTextWrapper">
                <h3>Username</h3>
                <input class="inputText" type="text" name="name" [(ngModel)]='username' />
    
            </div>
    
            <div class="inputTextWrapper">
                <h3>Password</h3>
                <input class="inputText" type="password" name="name" [(ngModel)]='password' />
            </div>
    
            <div style="padding-top: 30px;">
    
    
                <button class="loginButton" style="background-color:#999999" (click)="employee_login_was_clicked()"> NEW ENTRY </button>
    
                <div class="divider"></div>
    
                <button (click)="adam_login_was_clicked()" class="loginButton"> LOOKUP </button>
            </div>
    
    
        </div>
    </div>

    <footer-component></footer-component>
</body>