.outerWrapper {
    background-color: #f7f7f7;
    margin: auto;
    height: 500px;
    border: 0.5px black solid;
    box-shadow: 0 10px 8px -8px black; /*#565656*/
    border-radius: 2px;
    -webkit-transition-duration: 0.7s; /* Safari */
    transition-duration: 0.7s;
    width: 500px;
    float: left;

}


.outerWrapper:hover {
    box-shadow: 0 18px 16px -6px black;

}



textarea{
    resize: none;
    color: black;
    outline-color: #ea3c3c;

}


.submitButton {
    position: relative;
    background-color: #ea3c3c;
    border: none;
    font-size: 20px;
    color: white;
    padding: 20px;
    width: 200px;
    text-align: center;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
    border-radius: 7px;
    border-radius: 30px 30px 30px 30px;
    font-family: 'Montserrat', sans-serif;

}

.submitButton:hover {
    box-shadow: 5px 10px 18px #888888;
}

body {
    font-family: 'Montserrat', sans-serif;
    color: white;
    min-height: 100vh;
}



.dropdown.dropdown-scroll .dropdown-menu {
    max-height: 200px;
    width: 60px;
    overflow: auto;
}
.search-control {
    padding: 5px 10px;
}


.inputTextWrapper {
    width: 75%;
    margin: 0 auto;
    padding-top: 20px;
}

.overallWrapper {
    width: 1100px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}

.queryResults{
    padding-bottom: 50px;
    padding-top: 10px;
    background-color: #f2f2f2;
    width: 700px;
    display: block;
    margin: 0 auto;
    border: 0.25px #545454 solid;
    color: black;

}

.newEntryButtonWrapper {
    position: absolute;
    top: 30px;
    left: 120px;
    
}


.newEntryButton {
    background-color: #ea3c3c;
    border: none;
    font-size: 12px;
    color: white;
    padding: 10px;
    width: 150px;
    text-align: center;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
    border-radius: 7px;
    border-radius: 30px 30px 30px 30px;

}

.newEntryButton:hover {
    box-shadow: 5px 10px 18px black;
}


.logoutButton {
    background-color: #999999;
    border: none;
    font-size: 12px;
    color: white;
    padding: 10px;
    text-align: center;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
    border-radius: 7px;
    border-radius: 30px 30px 30px 30px;

}

.logoutButton:hover {
    box-shadow: 5px 10px 18px black;
}

.logoutButtonWrapper {
    position: absolute;
    top: 30px;
    left: 40px;
}

.specialHr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 5px solid #ea3c3c;
    margin: 1em 0;
    padding: 0; 
    clear:both;
}


  .wrapper {
    position: relative;
    border: 0px solid cornflowerblue;
  }


  .wrapper label {
    color: white;
    line-height: 30px;
    padding: 0px 15px;
    position: absolute;
    background-color: #3d3d3d;
    /* Adjust these values to posiytion the title or label */
    top: -15px;
    left: 160px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 2px;

  }