.submitButton {
    position: relative;
    width: 50px;
    height: 50px;
    background-color: #ef8b8b;
    border: none;
    font-size: 20px;
    color: white;
    text-align: center;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
    border-radius: 50%;
}


.specialHr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #f2f2f2;
    margin: 1em 0;
    padding: 0; 
    clear:both;
}

.leftText *{
    text-align:left;
    float:left; 
    padding-left: 50px;
}

.rightText *{
    text-align:left;
    float:right; 
    padding-right: 50px;
    width: 60%;   
    font-weight: bold;

}

hr {
    clear:both;
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #262626;
    margin: 1em 0;
    padding: 0; 
    clear:both;

}